CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
ADMIN_PASSWORD=change_this_admin_password
ADMIN_SESSION_SECRET=change_this_session_secret
PORT=3000
